<main><!-- Home Body started   -->
<div class="row">
  <div class="white col s8 offset-s1">
    <h1>My Offers</h1>
    <div class="divider"></div>
                        <div class="row">
                          <div class="col s12 m9 l10">
                            {{#each offers}}
                                <div id="{{category}}" class="section scrollspy">
                                  <div class="row">
                                    <div class="col s6">
                                      <div class="card small">
                                        <div class="card-image">
                                          <img src="{{offer_img_address}}.jpg">
                                          <span class="card-title">{{name}}</span>
                                        </div>
                                        <div class="card-content">
                                          <p>{{shortinfo}}</p>
                                          <p>Validity Duration: {{validity}}</p>
                                          <p> Price: {{price}} </p>
                                        </div>
                                        <div class="card-action">
                                          <a href="#">Buy Now</a>
                                          <a href="#">Read More..</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {{/each}}
                          </div>
                      </div>

</div>
                      <!--scrollspy started-->
                        <div class="rightsidebar teal lighten-5 col s2">
                          <div class="row">
                                        <div class="col hide-on-small-only white-text text-white">
                                          <ul class="section table-of-contents ">
                                            {{#each categ as |item|}}
                                            <li><a href="#{{item}}">{{item}}</a></li>
                                            {{/each}}
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                      <!--scrollspy started-->



</div>
<!--Home Body Ended   -->
<main>
